:root {
    --text-color: black;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('assets/backround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color);
    overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-y: auto; /* Ensure vertical scrolling if needed */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    color: var(--text-color);
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .title {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .search-box {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.navbar .search-box input {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    outline: none;
    transition: background-color 0.3s;
}

.navbar .search-box input::placeholder {
    color: white;
}

.navbar .search-box input:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    flex: 1;
    padding-top: 80px; /* To avoid content being hidden under the navbar */
    width: 100%; /* Ensure content does not overflow horizontally */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    display: flex;
    justify-content: center;
}

@media (max-width: 1100px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .current-weather-card, .forecast-weather-cards {
        width: 80% !important; /* Adjust width for mobile view */
    }

    .forecast-weather-cards {
        height: auto !important;
        justify-content: center;
        margin-bottom: 50px !important;
    }

    .weather-card {
        width: 100% !important; /* Full width for mobile view */
        min-width: unset; /* Remove min-width for mobile view */
    }

    html, body{
        overflow: auto;
    }
}

.current-weather-card {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
    backdrop-filter: blur(10px); /* Blurry effect */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: 1rem;
    flex-shrink: 0;
}

.forecast-weather-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    height: 500px;
    margin: 1rem;
    width: 40%;
}

.weather-card {
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
    backdrop-filter: blur(10px); /* Blurry effect */
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px); /* Three cards per row with a gap */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 210px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    color: whitesmoke;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
    position: fixed;
    bottom: 0;
    left: 0;
}

.weather-icon{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.current-weather-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}